SITIOWEB/Connected Services/ServiceReference1/calculadoraasmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sumar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero1" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="numero2" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sumarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sumarResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Restar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero1" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="numero2" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RestarResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Multiplicar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero1" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="numero2" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplicarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplicarResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dividir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero1" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="numero2" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DividirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DividirResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Mensaje">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MensajeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MensajeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sumarSoapIn">
    <wsdl:part name="parameters" element="tns:sumar" />
  </wsdl:message>
  <wsdl:message name="sumarSoapOut">
    <wsdl:part name="parameters" element="tns:sumarResponse" />
  </wsdl:message>
  <wsdl:message name="RestarSoapIn">
    <wsdl:part name="parameters" element="tns:Restar" />
  </wsdl:message>
  <wsdl:message name="RestarSoapOut">
    <wsdl:part name="parameters" element="tns:RestarResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplicarSoapIn">
    <wsdl:part name="parameters" element="tns:Multiplicar" />
  </wsdl:message>
  <wsdl:message name="MultiplicarSoapOut">
    <wsdl:part name="parameters" element="tns:MultiplicarResponse" />
  </wsdl:message>
  <wsdl:message name="DividirSoapIn">
    <wsdl:part name="parameters" element="tns:Dividir" />
  </wsdl:message>
  <wsdl:message name="DividirSoapOut">
    <wsdl:part name="parameters" element="tns:DividirResponse" />
  </wsdl:message>
  <wsdl:message name="MensajeSoapIn">
    <wsdl:part name="parameters" element="tns:Mensaje" />
  </wsdl:message>
  <wsdl:message name="MensajeSoapOut">
    <wsdl:part name="parameters" element="tns:MensajeResponse" />
  </wsdl:message>
  <wsdl:portType name="calculadoraasmxSoap">
    <wsdl:operation name="sumar">
      <wsdl:input message="tns:sumarSoapIn" />
      <wsdl:output message="tns:sumarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <wsdl:input message="tns:RestarSoapIn" />
      <wsdl:output message="tns:RestarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <wsdl:input message="tns:MultiplicarSoapIn" />
      <wsdl:output message="tns:MultiplicarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <wsdl:input message="tns:DividirSoapIn" />
      <wsdl:output message="tns:DividirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mensaje">
      <wsdl:input message="tns:MensajeSoapIn" />
      <wsdl:output message="tns:MensajeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="calculadoraasmxSoap" type="tns:calculadoraasmxSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sumar">
      <soap:operation soapAction="http://tempuri.org/sumar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <soap:operation soapAction="http://tempuri.org/Restar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <soap:operation soapAction="http://tempuri.org/Multiplicar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <soap:operation soapAction="http://tempuri.org/Dividir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mensaje">
      <soap:operation soapAction="http://tempuri.org/Mensaje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="calculadoraasmxSoap12" type="tns:calculadoraasmxSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sumar">
      <soap12:operation soapAction="http://tempuri.org/sumar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <soap12:operation soapAction="http://tempuri.org/Restar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <soap12:operation soapAction="http://tempuri.org/Multiplicar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <soap12:operation soapAction="http://tempuri.org/Dividir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mensaje">
      <soap12:operation soapAction="http://tempuri.org/Mensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="calculadoraasmx">
    <wsdl:port name="calculadoraasmxSoap" binding="tns:calculadoraasmxSoap">
      <soap:address location="https://localhost:44302/calculadoraasmx.asmx" />
    </wsdl:port>
    <wsdl:port name="calculadoraasmxSoap12" binding="tns:calculadoraasmxSoap12">
      <soap12:address location="https://localhost:44302/calculadoraasmx.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>